# Docs for Azure Web Apps Deploy with Docker: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Docker container to Azure Web App - AutomaticRAB

on:
  push:
    branches:
      - staging
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: AutomaticRAB

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghazafadhlilbaqi/automatic-rab:latest
          cache-from: type=registry,ref=ghazafadhlilbaqi/automatic-rab:latest
          cache-to: type=inline

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_AA91ACAE6C534AB987976BAD97B44D59 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_7D2E68C14FE54932AC4B53051D2EAC6F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F89458DBFDBB49BA9490D4E8875A2075 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          slot-name: 'Production'
          images: ghazafadhlilbaqi/automatic-rab:latest
